
   #all{
     width: 1010px;  
   }
   #top_img {
     width: 1010px;
     height: 147px;
    
    }
    #main_left{
     width: 200px;
     height: 500px;
     border-width:1px;
     border-style:solid;
     border-color:grey;
     float: left;
    }
    #main_right{
     width: 800px;
     height: 500px;
     border-width:1px;
     border-style:solid;
     border-color:grey;
     float: right;
    }
    #title{
       position:absolute;
       left:30px;
       top:35px;
       width:417px;
       white-space:nowrap;
       font-size:35px;
       color:#FFFFFF;
      } 
     #icon_img{
       position: absolute;
       width: 30px;
       height:30px;
       left:10px;
       top:10px;
     }
     #message{
       position: absolute;
       left: 50px;
       top: 0px;
       width: 27px;
       white-space: nowrap;
     }
     #menu{
      position: absolute;
     } 
     #menu_m{
       font-weight:bolder;
     }
     #clerkMessage{
     position: absolute;
     }
     .input_message{
      position: absolute;
       left: 20px;
       top: 20px;
     }
     .mg{
      position: absolute;
      left:0px;
      width: 80px;
     }
     .text_field{
        position: absolute;
        left:80px;
        width: 60px;
     }
     
      .mg1{
      position: absolute;
      left:270px;
      width: 100px;
     }
     
     .repeaterror{
       position: absolute;
       top:5px;
       left:260px;
       width: 400px;
       font-size:10px;
       color:#ff0000;
     }
     .text_field1{
        position: absolute;
        left:350px;
        width: 60px;
     }
     .location{
       position: absolute;
        left:60px;
     }
     .location1{
       position: absolute;
        left:60px;
        top:30px;
     }
     
     .location2{
       position: absolute;
        left:60px;
        top:60px;
     }
     
     .location3{
       position: absolute;
        left:60px;
        top:90px;
     }
     .location4{
       position: absolute;
       left:60px;
       top:150px;        
     }
     #save{
       position: absolute;
        left:200px;
        width: 60px;
     }
     #ret{
        position: absolute;
        left:300px;
        width: 60px;
     }
     
      #query{
       position: absolute;
        left:200px;
        width: 60px;
     }
     #add{
        position: absolute;
        left:300px;
        width: 60px;
     }
     #queryMessage{
        position: absolute;
        left: 20px;
        top: 20px;
     }
     #clerkTable table{
       border-right:1px solid grey;
       border-bottom:1px solid grey; 
       border-collapse:collapse;  
       border-spacing:0;
       font-family:'ו'; 
       font-size:13px;
       
     }
     #clerkTable table td{
       border-left:1px solid grey;
       border-top:1px solid grey;
       text-align:center; 
     }
     li{
       float:left;
       list-style:none;
       margin-left: 6px;
       margin-right: 6px;
     }
     ul{
       float:left;
       -webkit-padding-start: 0px;
     } 
         