body,*{
    font-family: "Microsoft YaHei", Arial, sans-serif !important;
}
.font-song,
.font-song *{
    font-family: SimSun !important;
}
label{
    font-weight:normal;
}
label[disabled]{
    padding:0 5px;
}
 .item-list td input{
     text-align: center;
 }
 .column-invoice-money input{
     width: 100% !important;
     float: right;
 }
.item-list .column-invoice-money input{
    width:100% !important;
}
.layui-layer-btn0,.blue-btn{
    background-color: #3faedc !important;
    border-radius: 3px;
    color: #FFF;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    border:0;
    cursor: pointer;
    text-decoration: none !important;
}
a:hover{
    text-decoration: none !important;
}
.layui-layer-btn0:hover,.blue-btn:hover{
    background-color: #2e97c2 !important;
    color: #FFF !important;
}
.blue-btn[disabled],
.blue-btn[disabled]:hover{
    background-color: #b2dff1 !important;
    opacity:.6;
    cursor: not-allowed;
}
.layui-layer-btn1,.white-btn{
    background-color: #FFF !important;
    border-radius: 3px;
    color: #333;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    border:1px solid #E6E6E6;
    cursor: pointer;
}
.layui-layer-btn1:hover,.white-btn:hover{
    background-color: #3faedc !important;
    border-color: #3faedc;
    color: #FFF;
}
.layui-layer-btn1:active,.white-btn:active{
    background-color: #2e97c2;
}
.layui-layer-btn0,
.layui-layer-btn1{
    width:78px;
    height:40px !important;
    line-height: 40px !important;
}
.validate-btn{
    background-color: #F8F8F8;
    border:1px solid #e6e6e6;
    cursor: pointer;
    color: #333 !important;
    font-size: 14px;
}
input,textarea{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:1px solid #E6E6E6;
}
input{
    height: 40px;
    padding:0 5px;
}
textarea{
    padding:5px;
}
input[type=radio],
input[type=checkbox],
input[type=button]{
    height: auto;
}
input:focus,
textarea:focus{
    border-color: #888;
    outline: none;
}
select{
    border-color: #E6E6E6;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    height:40px;
}
select:hover{
    border-color: #888;
}
.content-title{
    padding: 10px 0;
    border-bottom: 1px solid #CCC;
    margin: 0 20px 20px;
}
.content-title h6{
    font-size: 18px;
    margin:0;
}
.layui-layer-title{
    background-color: #394456 !important;
    color: #FFF !important;
    text-align: left;
}
.black-lay .layui-layer-title{
    background-color: #394456;
}
/*.black-lay .layui-layer-ico{
    background: url("/images/close.png");
}*/
.layui-layer-setwin .layui-layer-close{
    background: url("/images/close.png") no-repeat;
    background-position: 0 0;
}
.layui-tips-title{
    background-color: #3faedc;
}
.lay-body{
    background: #FFF !important;
}
.table_w tr:hover{
    background-color: #F4F8FB;
}
.column-invoice-input input {
    height: 20px;
    line-height: 20px;
    width: 100%;
    font-size: 12px;
    padding: 0px 10px;
    border: 1px #e8ebed solid;
    border-radius: 3px;
    outline: none;
    max-width: calc(97% - 100px);
    float: left;
    box-sizing: border-box;
}
.column-invoice-cont img {
    position: absolute;
    right: 4%;
    top: 5px;
}
.column-invoice-input label {
    float: left;
    width: 15%;
    padding-left: 10px;
    font-size: 14px;
    text-align: justify;
    text-align-last: justify;
    min-width: 110px;
    box-sizing: border-box;
    position: relative;
}
.voucher th, .voucher td {
    border: 1px solid #BCEDF1;
    border-right: none;
    border-bottom: none;
}
.tit-list td, .item-list td {
    border-left-width: 0;
    border-right-width: 0;
    text-align: center;
}
.tit-list td:nth-child(1), .item-list td:nth-child(1) {
    border-left-width: 1px;
}
.tit-list input{
    border:none !important;
    float: left;
}
.tit-list label{
    float: right;
}
.tit-list .column-invoice-money{
    /* padding-left: 10px; */
}
.voucher .item-list+tr td,
.column-invoice-total{
    border-top: 0 !important;
}
.column-invoice-cont {
    width: 100%;
    height: auto;
}
.voucher {
    position: relative;
    width: 90%;
    margin: 5px auto;
    background: #fff;
    border-right: 1px solid #BCEDF1;
    border-bottom: 1px solid #BCEDF1;
    table-layout: fixed;
}
.inscribe-ul input[disabled],
.voucher input[disabled],
.inscribe-ul textarea[disabled],
.voucher textarea[disabled]{
    background-color: transparent;
    border:0;
}
.inscribe-ul {
    margin: 0px auto;
    width: 90%;
    overflow: hidden;
}
.inscribe-ul li span {
    float: left;
    width: 174px;
    line-height: 40px;
}
.inscribe-ul li label {
    float: left;
    margin-top: 10px;
}
.inscribe-ul li {
    float: left;
    margin-top: 20px;
    margin-right: 3%;
}
.inscribe-ul li strong{
    line-height: 40px;
}
.shop_ul li.cha_a{
    float: none;
    display: block;
    width: 100%;
    text-align: center;
}
.out-btns{
    width: 90%;
}
.out-btns button{
    width: 100px;
}
.layui-layer-btn{
    text-align: center !important;
}
.layui-layer.layui-layer-dialog .layui-layer-padding {
   	padding: 20px 10px 20px 10px;
    text-align: center !important;
}
.layui-layer-dialog .layui-layer-content .layui-layer-ico{
    position: static !important;
    font-size:16px;
    margin-right:10px;
}
.layui-layer-dialog .layui-layer-content{
    font-size:16px !important;
}
.layui-layer-dialog {
	min-width:300px !important;
}
.layui-layer .layui-layer-btn {
    padding: 0 12px 30px;
}
.layui-layer .layui-layer-setwin .layui-layer-close1 {
    /*background: url(../../../images/cross29.png) no-repeat;*/
    background-size: 10px;
   	background-position: center;
}
.page{
    text-align: right;
    margin-top:20px;
}
.page>*{
    margin:0;
    display: inline-block;
    vertical-align: middle;
}
.page>span{
    color: #ADADAD;
    margin-left:5px;
}
.btns{
    float: right;
    padding:37px 0;
}
.pagination li a:hover{
    background-color: #3faedc;
    color: #FFF;
    border-color: #3faedc;
}
.pagination li a:focus{
    color: #3faedc;
    background-color: #FFF;
    border-color: #ddd;
}
.pagination li a:active{
    background-color: #2D97C1;
    color: #FFF;
}
.pagination li a{
    color: #3faedc;
    background-color: #FFF;
}
.pagination li.active a,
.pagination li.active a:hover,
.pagination li.active a:focus{
    background-color: #F8F8F8;
    color: #a5a5a5;
    border-color: #DDD;
}
input[type=checkbox]{
    width: 14px;
    height:14px;
    position: relative;
}
input[type=checkbox]::after{
    position: absolute;
    content: ' ';
    width: 14px;
    height:14px;
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin:auto;
    background: url("/images/check.png") #FFF;
    background-size:100%;
}
input[type=checkbox]:checked::after{
    background: url("/images/check-sel.png");
}

.error input,
.error select{
    border-color: #F00;
}
.error .error-text,
.error .error-pic{
    display: block;
    color: #f00;
}
.error-pic,.error-text{
    display: none;
    position: absolute;
}
.operation-btn {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
}
.column-invoice-taxes select{
    height:30px;
}
.lhgcal_head_month input{
    width: 30px !important;
}
.lhgcal_head_year input, .lhgcal_head_month input{
    font-size: 12px !important;
}

.newLayer.layui-layer-dialog .layui-layer-content .layui-layer-ico{
	/*margin:0 auto;*/
	/*display:block;*/
    margin-right:10px;
}
.newLayer.layui-layer-dialog .layui-layer-content {
	text-align:center;
	padding:20px;
}
.clerk_shop_ul.shop_ul li input,
.clerk_shop_ul.shop_ul li select{
    width: calc(95% - 125px);
}
.clerk_shop_ul.shop_ul li label{
    width: 115px;
}
.customers tr th{
    padding: 0 5px;
}
.lhgcal_body .lhgcal_td_back,.lhgcal_body .lhgcal_td_today{
	background-position:1px 0;
}
.center{
	text-align:center;
}
.inline-input-search{
	display: inline-block;
    position: absolute;
    right: 6px;
    top: 6px;
    z-index: 30;
}
.kj-input-radius-search{
	height:34px;
	font-size: 14px !important;
	border-top-right-radius:6px !important;
	border-bottom-right-radius:6px !important;
}

.ttlx-input label{
    position: relative;
    padding-right:8px;
}
.ttlx-input label::after{
    content: ':';
    position: absolute;
    right: 1px;
}
.ttlx-input label[for]{
    width: auto;
    float: none;
    padding-left: 0;
}
.ttlx-input label[for]::after{
    content: '';
}
.ttlx-input input[type=radio]{
    width: auto;
    float: none;
    vertical-align: middle;
}
.require-tit{
    position: absolute;
    top: 0;
    left: 2px;
    color: #F00;
}
.layer-kce{
    padding: 0;
    text-align: center;
    height: 230px;
}
.popup-window-addzk.layer-kce h3{
    margin: 0;
    background: #394456;
    color: #fff;
    padding: 5px 10px;
    text-align: left;
    margin-bottom: 20px;
}
.popup-window-addzk.layer-kce ul li{
    width: auto;
    float: none;
    margin-top: 20px;
    margin-bottom: -20px;
}
.popup-window-addzk.layer-kce ul li label{
    display: inline-block;
}
#successDiv{
    text-align: center;
    position:relative
}
#successDiv #imgId{
    width: 70%;
    margin-top:10px;
}
#successDiv  .invoiceIdentify{
	position:absolute;
	z-index:1000;
	right:15%;
	top:7%;
	width:152px;
	height:107px
}