html,body{
    padding:0;
    margin:0;
    color: #333;
    font-size:16px;
}
*{
    box-sizing: border-box;
}
button{
    background-color: #4284F4;
    width: 100px;
    border-radius: 20px;
    color: #FFF;
    border:none;
    cursor: pointer;
    line-height: 30px;
    margin:0 10px;
    margin-top:70px;
    font-size:16px;
}
input{
    border:none;
    line-height: 30px;
    border-bottom:1px solid #D6D6D6;
    width: 300px;
    padding:0 10px;
    margin-top:10px;
    height:30px;
    font-size:16px;
}
.header{
    line-height: 50px;
    background-color: #394457;
}
.wid-1200{
    width: 1200px;
    margin:0 auto;
}
img{
    vertical-align: middle;
}
.logo>span{
    font-size: 24px;
    vertical-align: middle;
    color: #FFF;
}
.content{
    margin:0 auto;
    padding-top:80px;
    text-align: center;
}
.tabs{
    border-bottom:1px solid #DADADA;
    font-size: 18px;
    color: #394457;
    line-height: 60px;
    width: 700px;
    margin:0 auto 30px;
}
.tabs .tab{
    display: inline-block;
    width: 50%;
    line-height: 30px;
    margin-top:15px;
    cursor: pointer;
}
.tabs .tab.active{
    color: #4184f3;
}
.tabs .tab1{
    padding-right:50px;
    text-align: right;
    border-right:2px solid #4185F4;
}
.tabs .tab2{
    padding-left:50px;
    text-align: left;
}
.content1{
    padding-top:20px;
}
.qrCodePath{
    width: 300px;
    border-bottom:1px solid #CCC;
    color: #ADADAD;
    text-align: center;
    margin:0 auto;
    font-size: 14px;
    padding-bottom: 5px;
}
.qrCodeTips{
    margin-top:100px;
    text-align: center;
}
.input-item>*{
    vertical-align: baseline;
}
.tips{
    padding-top:100px;
}
.tips-text{
    margin-top: 20px;
    margin-bottom: 90px;
    color: #666;
    font-size: 16px;
}
.scan-result-tips{
    margin: 10px 0;
    line-height: 40px;
    text-align: left;
    padding-left:10px;
}
.scan-result-tips img{
    width:20px;
}
.scan-result-tips .scan-result-text{
    margin-left:10px;
}
.scan-result-tips.no-create{
    border:1px solid #FDEECB;
    background-color: #FDF8E1;
    color: #886422;
}
.scan-result-tips.creating{
    border:1px solid #BCE8F1;
    background-color: #D9EDF7;
    color: #31708F;
}
.scan-result-tips.fail{
    border:1px solid #F1CACF;
    background-color: #F6DDDE;
    color: #B32D2B;
}
.scan-result table{
    width: 100%;
    border-collapse: collapse;
}
.scan-result th{
    background: #F4F4F4;
    font-weight: normal;
    line-height: 50px;
}
.scan-result td{
    line-height: 40px;
    border-bottom: 1px solid #E6E6E6;
}
.scan-result a{
    color: #4184f3;
    text-decoration: none;
}

.content2 img, .content4 img{
    width: 50%;
}
.content-mobile iframe{
    width: 374px;
    height: 646px;
}
.content-mobile button{
    margin-top:10px;
}
.invoicePrint_item{
    width:425px;
    margin:10px auto;
    font-size:14px;
    position: relative;
    overflow: hidden;
}
.invoicePrint_item:nth-of-type(1) input,.invoicePrint_item:nth-of-type(2) input{
    border-bottom: none;
}
.invoicePrint_item:nth-of-type(7){
    text-align: right;

}
.invoicePrint_item:nth-of-type(7) a{
    color:#548ef4;
    font-size:14px;
    text-decoration: none;
}
.invoicePrint_item .invoicePrint_item_hd span{
    color:#747474
}
.invoicePrint_item .invoicePrint_item_hd span,.invoicePrint_item input{
    font-size:14px;
}
.invoicePrint_item input{
    width:303px;
}
.invoicePrint_item .invoicePrint_item_hd{
    width:112px;
    text-align-last: right;
    display: inline-block;
}
.invoicePrint_item .invoicePrint_item_hd:nth-of-type(1) input,.invoicePrint_item .invoicePrint_item_hd:nth-of-type(2) input{
    border-bottom: none;
}
.invoicePrint_item_r{
    width:303px;
    float: right;
}
.invoicePrint_item_ft{
    width:303px;
    display: inline-block;
}
.invoicePrint_item_ft .item_ft_name{
    font-size:14px;
    width:113px;
    float: left;
    text-align: left;
}
.invoicePrint_item:nth-of-type(8) .invoicePrint_item_hd{
    float: left;
}
.invoicePrint_item_ft .item_ft_money{
    float: right;
    text-align: right;
}
.invoicePrint_item:nth-of-type(9){
    text-align: right;
    background: url(/images/yyy_06.png) no-repeat right center;
}
.invoicePrint_item:nth-of-type(9) a{
    color:#548ef4;
    font-size:14px;
    text-decoration: none;
    margin-right: 10px;
}
.invoicePrint_item_des{
    width:455px;
    height:52px;
    line-height: 52px;
    font-size: 12px;
    color:#888;
    margin:0 auto;
}
.invoicePrint_item_btn button{
    margin-top: 0;
}
.scrollbar::-webkit-scrollbar{
    width: 7px;
    height: 7px;
    background-color: #999;
    border-radius:125px;
}
/*定义滚动条的轨道，内阴影及圆角*/
.scrollbar::-webkit-scrollbar-track{
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    border-radius:125px;
    background-color: #E6E6E6;
}
/*定义滑块，内阴影及圆角*/
.scrollbar::-webkit-scrollbar-thumb{
    /*width: 10px;*/
    height: 20px;
    border-radius:25px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #999;
}
