body{ margin:0; padding:0; font:14px/1.5 Microsoft YaHei,tahoma,arial;background:#fff }
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, img, small, strike, sub, sup, tt, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0;  }
ul , li { list-style:none;}
a { text-decoration:none;}
input{font-family:Microsoft YaHei;}
img{border:0 none;vertical-align:middle}
.heard{margin:0px auto;width:100%;}
/*头部*/
.heard{height:70px;width:100%;box-shadow: 0px 2px 3px #ccc;background-color:#394456;min-width: 1100px}
.logo{width:1100px;margin:0px auto;}
.logo p{float:left;width:40%;height:70px;margin:0px auto;text-align:center;overflow:hidden;background:transparent}
.logo p img{width: 50px;margin-left:-95px;padding-top: 17px;}
.nav{float:right;width:60%;margin:0px auto;height:70px;}
.logo ul{float:left;width:80%;margin:0px auto;height:70px;overflow:hidden;}
.logo ul li{float:left;line-height:70px;margin-left:20px;font-size:18px;}
.logo ul li a{float:left;display:block;line-height:40px;color:#FFF;padding: 0px 6px;margin-top:27px;}
/*.logo ul li a:hover{color:#fff;background:#0189e9;border-radius: 3px;}*/
.logo ul li .curr{color:#fff;border-bottom: 3px solid #3faedc;}
.logo span{float:right;width:20%;height:70px;line-height:70px;text-align:right;font-size:16px;color:#FFF}
.logo span a{color:#FFF;padding:0px 10px;}
.logo span a:hover{color:#0189e9}
.use_p{float:right;width:15%;height:70px;line-height:70px;text-align:right;font-size:18px;position: relative;}
.tan_p{z-index:9999;position:absolute;width:60%;top:70px;right:0px;border:1px solid #ddd;border-top:none;background:#fff;}
.tan_p a{float:left;display:block;width:100%;height:30px;line-height:30px;font-size:14px;padding:5px 0px 5px 10%;border-bottoms:1px solid #ddd;color:#444;text-align:left;} 
.tan_p a:last-child{border-bottom:none}
.tan_p a:hover{background:#fafafa;color:#0189e9}
.logo .login-btn{
    float:left;
    padding-top: 38px;
    line-height: 1;
    height: auto;
    font-size:18px;
}
.logo .sec-title{
    width: auto;
    float: none;
    margin-top: 34px;
    height: auto;
    display: inline-block;
    line-height: 1;
    text-align: left;
    margin-left: -100px;
}
/*登录*/
/*.log_bj{background:url(/images/body_bj.jpg) 50% 15% / cover repeat}*/
#login{min-width: 1100px;margin:0px auto;overflow:hidden;background: url(../images/login-bg.png) 0px 200px no-repeat;min-height: 600px;padding-bottom: 70px}
.user_login{width:1100px;margin:0 auto;overflow:hidden;
    padding-top:200px;}
.login_lef{float:left;width:60%;
    margin-top:20px;}

.login_rig{float:right;width:350px;min-height:350px;margin:12px;margin-top:-20px;background:#fff;border:1px solid #f0f8fe;border-top: 2px solid #3FAEDC;border-radius: 3px;padding-bottom:30px;}
.str_tt{height:40px;line-height:55px;overflow:hidden;margin:20px auto 10px;}
.str_tt h6{text-align:center;color:#444;font-size:20px;font-weight:normal;position: relative}
.str_tt h6::after,
.str_tt h6::before{
    content: '';
    position: absolute;
    width: 95px;
    height:1px;
    background-color: #E6E6E6;
    top:28px;
}
.str_tt h6::after{
    left:32px;
}
.str_tt h6::before{
    right:32px;
}

.login_rig ul{width:80%;margin:0px auto;}
.login_rig ul li{width:100%;margin:10px auto 20px;color:#a9acb7;position:relative;}
.login_rig ul li label{width:100%;float:left;display:block;line-height:35px;font-size:16px;color:#444}
.text{line-height:40px;height:40px;padding-left:5px;color:#a9acb7;border:1px solid #f1f1f1;margin-bottom:10px;webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);border-radius: 3px;}
.use1{padding-left:40px;width:265px}
.mim{padding-left:40px;width:265px}
.reset_pwd .mim{
    padding-left:10px;
}
.login_rig.reset_pwd ul li .error-pic{
    bottom:25px;
    top:auto;
}
.yzm{width:40%}
.yzm1{height:40px;margin-left:30px;width: 120px}
.login_rig ul .tsxx{margin-bottom:10px;line-height:24px;color:#444}
.login_rig ul .tsxx span{color:#ff0000;}
.login_rig ul .tsxx img{margin-right:10px}
.login_rig ul li p{float:left;line-height:40px;padding-left:30px;}
.sjm{padding-left:40px;width:265px;}
.login_rig ul li .error-pic{
    right:-10px;
    top:10px;
}
.login_rig ul li .error-text{
    bottom:-12px;
}
.hqyzm{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 48%;
    text-align: center;
    margin-left: 14px;
    color: #333;
    border: 1px solid #e6e6e6;
    background: #F8F8F8;
    border-radius: 3px;
    cursor: pointer;
}
/*.hqyzm:hover{background:#02b26a;}*/
.hqyzm_dis{background:#a9acb7;}
.hqyzm_dis:hover{background:#a9acb7;}
.sub{width:78%;margin:0px auto 10px;overflow:hidden;}
.btn_01{width:100%;background:#3faedc;border:none;border-radius: 3px;cursor:pointer;color:#fff;font-size:18px;line-height:40px;}

.zhuce{width:78%;margin:0px auto;overflow:hidden;text-align:right;color: #999;font-size: 12px}
.zhuce  a{color: #3faedc}
.zhuce  a:hover{text-decoration:underline}
.cancel_adds{position:absolute;top:100px;right:100px;width:100%}
.zhuce .forget-pwd{
    float: left;
    padding-left:0;
}
/*注册*/
.register{width:1100px;margin:30px auto 75px;overflow:hidden;}
.zc_tit{width:100%;margin:0px auto 20px;overflow:hidden;line-height:35px;}
.zc_tit span{display:block;float:left;width:130px;color:#01c675;font-size:18px;}
.zc_tit span img{margin-right:10px;width:25px}
.zc_tit h6{float:left;width:940px;color:#ff0000;border-bottom:1px solid #ddd;margin-left:30px;font-size:14px;font-weight:normal}
.zc_tit h6 img{margin-right:10px;width:20px}

.register_left{float:left;width:60%;margin:0px auto 0;overflow:hidden;}
.ul_1{width:45%;margin:0px auto 0;overflow:hidden;}
.register_yzm{margin-left: 22px;height: 40px;line-height: 40px;width: 40%;text-align: center;}
.p_tit{line-height:25px;overflow:hidden;font-size:16px;}
.p_tit img{width:35px}
.p_tit span{font-size:14px;color:#01c675;margin-left:5px}
.p_fc{line-height:25px;margin:10px auto;overflow:hidden;color:#888}

.ul_1 ul{overflow:hidden;width:100%;margin:0px auto 10px;}
.ul_1 ul li{width:100%;margin:10px auto 0px;overflow:hidden;color:#a9acb7}
.ul_1 ul li label{width:100%;float:left;display:block;line-height:35px;font-size:16px;color:#444}
.ul_1 ul li input{float:left;line-height:35px;height:35px;width:97%;padding-left:5px;color:#a9acb7;border:1px solid #d1d1d1;margin-bottom:10px;webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);border-radius: 3px;}
.order_select{float:left;height:35px;width:45%;}

.ul_1 ul li b{float:left;display:inline-block;width:100%;height: 31px;background: url(/images/s.png) no-repeat;background-size:100% 31px;cursor: pointer;vertical-align: middle;}
.ul_1 ul li .li_span{background: url(/images/ss1.png) no-repeat;background-size:100% 31px;}
	
.register_right{float:right;width:35%;margin:10px auto 0;overflow:hidden;}
.register_right p{margin:0px auto;overflow:hidden;}
.register_right p img{margin-right:5px}

.sctu{overflow:hidden;width:385px;height:263px;}
.upload-tips{    color: #1489E4;}
.sctu img{width:385px;height:263px;}
.sctu span{position: relative;margin:-35% 0px 0px 35%;display:block;height:40px;line-height:40px;width:150px;background:#3faedc;border-radius: 3px;color:#fff;text-align:center}
.sctu font{z-index:9999;position:absolute;top:0px;left:0px;opacity: 0;cursor: pointer;height:40px;line-height:40px;width:150px;}
.sctu font input{height:40px;line-height:40px;width:150px;cursor:pointer;border:none;background:none}
.yy_tu{position: relative;margin:-13% 0px 0px 0;width:100%;height:50px;line-height:50px;z-index:99999;color:#fff;text-align:center;background: url(/images/hi.png) repeat;}
.yy_tu b{z-index:9999;position:absolute;top:0px;left:0px;opacity: 0;cursor: pointer;height:50px;line-height:50px;width:100%;}
.yy_tu b input{height:50px;line-height:50px;width:100%;text-align:center;cursor:pointer;}
.delete{position: relative;width: 24px;height: 24px;float: right;display: block;margin: -255px 10px 0px 0px;}


.zhuce_bnt{float:left;margin:40px auto;overflow:hidden;width:100%;text-align:center;}
.zhuce_bnt span input{margin-right:5px}
.zhuce_bnt span a{margin-left:5px;color:#01c675}
.zhuce_bnt span a:hover{text-decoration:underline;}
.zhuce_bnt p{width:30%;margin:10px auto 0px;overflow:hidden;text-align:center;}


/*注册成功*/
.zc_chg{margin:100px auto 0px;width:50%;overflow:hidden;}
.zc_chg dt{float:left;width:144px;margin-right:20px;overflow:hidden;}
.zc_chg dd{float:left;width:70%;overflow:hidden;}
.zc_chg dd p{line-height:30px;font-size:16px;margin-top:10px}
.zc_chg dd p img{width:100%}
.zc_que{margin:30px auto;width:50%;overflow:hidden;text-align:center;}
.zc_que a{display:block;margin-left:165px;width:65%;background:#179d60;line-height:40px;text-align:center;color:#fff;border-radius: 3px;font-size:16px;}
.zc_que a:hover{background: #1fc478;}

/*首页*/
.bjs{background:url(/images/b.png) repeat}
.home{width:1100px;margin:0px auto 80px;overflow:hidden;}
.home h2{margin:80px auto;width:100%;overflow:hidden;text-align:center;}
.home p{margin:0px auto;width:100%;overflow:hidden;text-align:center;}

.yun_bj{position:fixed;bottom:0px ;left:0px;width:100%;height:105px;background:url(/images/b4.png) left bottom repeat-x;background-size:100% 80%}
/*其他页*/
.main_all{width:1100px;margin:30px auto 75px;overflow:hidden;}
.main_all h2{font-size:32px;margin:80px auto 0;overflow:hidden;font-weight:normal;text-align: center}
.main_all p{line-height:25px;margin:0px auto 5px;width:100%;overflow:hidden;color:#666}
.main_all p b{color:#444}
.map{max-height:400px;border:2px solid #178be6;border-radius: 3px;margin:20px auto;}

.chanpin{margin:30px auto;overflow:hidden;width:100%}

.chanpin_le{width:45%;margin:0px auto;overflow:hidden;}
.chanpin_le dl{width:100%;margin:0px auto 50px;height:99px;overflow:visible;position: relative;padding:10px 0px}
.chanpin_le dl dt{float:left;width:84px;margin-right:20px;overflow:hidden;}
.chanpin_le dl dt img{width:100%}
.chanpin_le dl dd{float:left;width:70%;margin:0px auto;overflow:hidden;}
.chanpin_le dl dd h6{font-size:16px;font-weight:normal;margin-bottom:10px}
.chanpin_le dl dd p{line-height:20px}
.tel_tis{position:absolute;top:0px;left:0px;width:100%;font-size:18px;height:95px;line-height:95px;text-align:center;background:url(/images/hi.png) repeat;color:#fff;}

/*版本更新说明页*/
.bbgxsm_time{margin:10px auto 30px;width:100%;overflow:hidden;}
.bbgxsm_time li{float:left;width:210px;margin-right:12px;text-align:center;}
.bbgxsm{margin:0px auto;width:100%;overflow:hidden;}
.bbgxsm li{float:left;margin-right:12px;text-align:center;background:#02c575;padding:15px 0px;color:#fff;border-radius: 3px;}
.bbgxsm li p{width:90%;margin:0px auto 10px;text-align:left;line-height:25px;color:#fff;}

/*注册协议*/
.agreement{width:1100px;margin:30px auto 75px ;overflow:hidden;}
.agreement_left{float:left;width:220px;margin:0px auto;overflow:auto;height:calc(100% - 150px);}
.agreement_left h2{height:60px;line-height:60px;background:#e6e6e6;text-align:center;font-size:18px;font-weight:normal}
.agreement_left ul{width:100%;margin:0px auto;overflow:hidden;}
.agreement_left ul li{width:100%;overflow:hidden;margin:0px auto;background:#e6e6e6;}
.agreement_left ul .li_two{background:#fff url(/images/lx.jpg) no-repeat;}
.agreement_left ul li a{float:left;display:block;width:205px;font-size:16px;height:43px;line-height:43px;color:#333;padding-left:25px;}
.agreement_left ul li .sel_lia{color:#fff;background:#0189e9;}
.agreement_right{float:right;width:850px;margin:0px auto;overflow:hidden;}
.agreement_right h2{height:60px;line-height:60px;margin-bottom:30px;background:#e6e6e6;text-align:center;font-size:18px;font-weight:normal}
.agreement_right h6{width:96%;margin:20px auto 20px;overflow:hidden;font-size:18px;font-weight:normal}
.agreement_right p{width:96%;margin:0px auto 0px;line-height:28px;overflow:hidden;font-size:16px;}
.agreem_con{width:90%;margin:0px auto 0px;overflow:hidden;}

/*开通流程*/
.liucheng{width:100%;margin:100px auto 0;overflow:hidden;position: relative}
.lct{float:left;width:440px;margin:0px auto;overflow:hidden;    text-align: center;}
.lct h4{width:100%;height:120px;overflow:hidden;}
.lct h4 span{float:left;display:block;width:100%;font-weight:normal;text-align:center;height:50px;line-height:50px;font-size:18px}
.lct div{width:100%;margin:0px auto;overflow:hidden;}
.main_all .lct div p{text-align:left;width:auto;max-width:260px;margin:10px 0px 5px;font-size:14px;background:#fff;border-radius: 5px;color:#666;line-height:28px}
.lct div span{float:left;display:block;width:260px;text-align:center}
.footer{position:fixed;bottom:0px;left:0px;margin:0px auto 0px;width:100%;overflow:hidden;background:#F8F8F8;
    height:70px;}
.foot{margin:24px auto;width:1100px;overflow:hidden;}
.foot p{line-height:25px;color:#333;width:100%;text-align:center;}
.foot p font{margin:0px 8px;color:#bebdbd}

.user_icon,
.pwd_icon{
    position: absolute;
    top: 10px;
    left:7px;
}
.lct h4>img{
    margin-top:10px;
}
.lct .tus_bj>img{
    margin-top:-85px;
}
.lct .tus_bj>p{
    display: inline-block;
}

.update-btns{
    text-align: center;
}
.update-btns .blue-btn{
    width: 300px;
}
.update-btns .white-btn{
    margin-left:10px;
    width: 125px;
}























