.jiameng{
    width: 900px;
    margin:0 auto 240px;
}
.zc-form1{
    padding-bottom:120px;
}
.zc-titles .step1{
    width: 100%;
}
.step-con{
    font-size: 18px;
    font-weight: bold;
}
.zc-titles{
    margin:40px 0;
}
.zc-items label{
    width:330px;
    color: #666;
}
.zc-success{
    line-height: 2;
}
.form-tips2{
    line-height: 1.5;
    margin-top: 30px;
    display: inline-block;
}
.product-content{
    overflow: hidden;
    padding-top:40px;
    padding-left:15px;
}
.product-content img{
    float: left;
    width: 320px;
    height:320px;
}
.product-detail{
    float: left;
    padding-left: 20px;
    padding-top: 40px;
}
.product-title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.product-item>div{
    float: left;
}
.product-item{
    overflow: hidden;
    margin-bottom: 20px;;
}
.form-left{
    width: 100px;
    text-align: right;
    color: #666;
    line-height: 40px;
}
.form-right{
    margin-left: 5px;
    line-height: 20px;
    color: #333;
    position: relative;
}
.product-detail .product-des .form-left{
    line-height: 1.4;
}
.product-des .form-right{
    width: 440px;
}
.product-content input{
    width:200px;
}
.minus,.plus{
    position: absolute;
    top:0;
    width: 30px;
    height:30px;
    line-height:30px;
    text-align: center;
    font-weight:bold;
    border:1px solid #E6E6E6;
    cursor: pointer;
    box-sizing: border-box;
}
.product-detail .form-left{
    line-height: 30px;
}
.product-detail input{
    height:30px;
}
.minus:hover,.plus:hover{
    background-color: #F8F8F8;
}
.minus{
    left:0;
    border-right:1px solid #E6E6E6;
    letter-spacing:-3px;
}
.plus{
    right:0;
    border-left:1px solid #E6E6E6;
}
.order-num{
    padding:0 40px;
    text-align: center;
}
.order-num:focus{
    border-color: #E6E6E6;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.recipients{
    margin:40px 0;
    padding-top:50px;
    border-top:1px dashed #E6E6E6;
    overflow: hidden;
}
.recipients-title{
    font-size:16px;
    font-weight:bold;
    margin-bottom: 30px;
}
.recipients-item{
    float: left;
    width: 50%;
    margin-bottom: 25px;
}
.recipients-item>div{
    float: left;
}
.recipients input{
    width: 310px;
    color: #333;
}
.recipients-item:nth-child(odd) .form-left{
    margin-left:35px;
}
.recipients-item select{
    width: 150px;
    color: #333;
}
.recipients-item .form-right select:nth-child(2){
    margin-left:5px;
}
.recipients-items{
    border-bottom:3px solid #CCC;
    padding-bottom:10px;
    overflow: hidden;
}
.balance{
    text-align: right;
    font-size: 16px;
    color: #666;
    padding:30px 0;
}
.balance .price{
    color: #31708f;
    font-weight: bold;
    margin:0 5px;
}
.toPay{
    text-align: right;
}
.toPay button{
    width: 125px;
}
#orderConfirm .modal-dialog{
    width: 426px;
    margin-top:20%;
}
#orderConfirm .modal-content{
    border-radius: 0;
}
#orderConfirm .modal-header{
    height: 40px;
    line-height: 40px;
    padding: 0;
    background: #3faedc;
}
#orderConfirm .close{
    opacity: 1;
    margin-top: 7px;
    margin-right: 5px;
}
#orderConfirm .close:hover{
    opacity:.7;
}
#orderConfirm .modal-body{
    text-align: center;
    padding:0;
}
.modal-btns>button{
    width: 135px;
    margin-top:40px;
    margin-bottom:25px;
    margin-left: 15px;
    margin-right: 15px;
}
.modal-title{
    font-size:18px;
    color: #333;
    font-weight:bold;
    margin-top:40px;
    margin-bottom:15px;
}
.pay-result{
    text-align: center;
    padding: 100px 0;
    border-bottom: 1px dashed #E6E6E6;
}
.pay-result .result{
    font-size: 18px;
    vertical-align: middle;
    font-weight: bold;
    margin-left: 10px;
}
.xieyi{
    font-size: 12px;
    color: #666;
}
.xieyi a{
    color: #06c;
}