input {
	outline: none;
}
.invoice-box {
	min-width:800px;
	margin:0px auto;
	padding-bottom:20px;
	overflow: hidden;
	text-align: center;
}
.ewm-title{
	overflow: hidden;
	width: 90%;
	margin: 0 auto;
	padding: 20px;
	box-sizing: border-box;
}
.ewm-title img{
	float: left;
	width: 118px;
	height:118px;
}
.ewm-title .invoice-h3{
	margin-top: 55px;
}
.ewm-title .kp-infor{
	float: right;
	text-align: left;
	color: #31708f;
}
.ewm-title .kp-infor label{
	width:100px;
	text-align-last: justify;
	display: inline-block;
	margin-bottom:10px;
}
.ewm-title .kp-infor span{
	color: #333;
}
.invoice-h3 {
	margin:20px auto 5px;
	font-size:30px;
	color:#31708f;
	text-align: center;
	font-weight:normal;
	display: inline-block;
	position: relative;
	height:60px;
}
.invoice-h3::after{
	content: '';
	border-top: 2px solid #31708F;
	border-bottom: 2px solid #31708F;
	height: 10px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}
.operation-btn {
	width:790px;
	margin:0 auto ;
	text-align: right;
	overflow: hidden;
}
.operation-btn a {
	float:right;
	margin:0px 10px;
	width:90px;
	height:26px;
	line-height:26px;
	background:#01c675;
	color:#fff;
	border-radius: 13px;
	text-align: center;
}
.operation-btn a:hover {
	background:#179d60;
}
.voucher {
	position:relative;
	width:90%;
	margin:5px auto;
	background: #fff;
	border-right: 1px solid #e6e9eb;
	border-bottom: 1px solid #e6e9eb;
}
.voucher th,.voucher td {
	border: 1px solid #e6e9eb;
	border-right:none;
	border-bottom:none;
}
.column-purchaser {
	width:24px;
	line-height:18px;
	height:107px;
	padding:5px;
	color:#333;
	font-size:14px;
	text-align: center;
	vertical-align:middle;
	color: #31708F;
}
.column-invoice-cont {
	width:500px;
	height:107px;
}
.column-invoice-cont img{
	position: relative;
    top: 4px;
    left: 450px;
}
.column-invoice-input {
	min-height:23px;
	margin-bottom:2px;
	overflow: hidden;
}
span.input-search{
	line-height: 20px;
	width: 100%;
	font-size: 12px;
	padding: 0px 10px;
/* 	border: 1px #e8ebed solid; */
	border-radius: 3px;
	outline: none;
	max-width: calc(97% - 100px);
	float: left;
	box-sizing: border-box;
	text-align: left;
	display: inline-block;
}
.column-invoice-input label {
	float:left;
	width:114px;
	padding-left:10px;
	font-size:14px;
	color: #31708F;
}
.column-invoice-input input {
	height:20px;
	line-height:20px;
	/*width:350px;*/
	font-size:12px;
	padding:0px 10px;
	border:1px #e8ebed solid;
	border-radius: 3px;
	outline: none;
}
.column-invoice-input input[disabled]{
	background-color: transparent;
	border:none;
}
input::-webkit-input-placeholder {
    color: #868686;
}
input:-moz-placeholder {
    color:#868686;
}
/*.input-search {
	width:320px;
	padding:0px 20px 0 10px;
	background:url(../images/ico1.jpg)  330px no-repeat;
	cursor: pointer;
}*/
.column-invoice-password {
	width:100%;
	height:107px;
	word-wrap:break-word;
}
.column-invoice-password textarea {
	width:100%;
	height:104px;
	line-height:20px;
	padding:0 5px;
	border:none;
	outline: none;
}
.column-invoice-check {
	width:34px;
	height:20px;
	text-align: center;
}

.column-invoice-goods {
	width:204px;
	height:20px;
	text-align: center;
	position: relative;
}
.column-invoice-goods input {
	width:184px;
	height:20px;
	line-height:20px;
	border:none;
	/*padding:0px 20px 0px 2px;*/
	/*background:url(../images/ico1.jpg)  184px no-repeat;*/
	cursor: pointer;
}
.column-invoice-goods img{
	position: absolute;
    right: 20px;
	top: 4px;
}
.column-invoice-model {
	width:97px;
	height:20px;
	text-align: center;
	position: relative;
}
.column-invoice-model input {
	width:75px;
	height:20px;
	line-height:20px;
	border:none;
	padding:0px 20px 0px 2px;
	/*background:url(../images/ico1.jpg)  75px no-repeat;*/
	cursor: pointer;
}
.column-invoice-model img{
	position: absolute;
	left: 170px;
	top: 4px;
}
.column-invoice-classify{
	width: 100px;
	height: 20px;
	text-align: center;
	position: relative;
}
.column-invoice-classify input{
	width: 100px;
	border: none;
	line-height: 20px;
	padding:0px 20px 0px 2px;
	/*background:url(../images/ico1.jpg)  100px no-repeat;*/
	cursor: pointer;
}
.column-invoice-classify img{
	position: absolute;
	left: 100px;
	top: 4px;
}
.column-invoice-company {
	width:67px;
	height:20px;
	text-align: center;
}
.column-invoice-company input {
	width:63px;
	height:20px;
	line-height:20px;
	border:none;
	padding:0px 2px;
}
.column-invoice-number {
	width:64px;
	height:20px;
	text-align: center;
}
.column-invoice-number input {
	width:60px;
	height:20px;
	line-height:20px;
	border:none;
	padding:0px 2px;
}
.column-invoice-price {
	width:96px;
	height:20px;
	text-align: center;
}
.column-invoice-price input {
	width:92px;
	height:20px;
	line-height:20px;
	border:none;
	padding:0px 2px;
}
.column-invoice-money {
	width:128px;
	height:20px;
	text-align: center;
}
.column-invoice-money input {
	width:124px;
	height:20px;
	line-height:20px;
	border:none;
	padding:0px 2px;
}
.column-invoice-taxes {
	width:90px;
	height:20px;
	text-align: center;
}

.column-invoice-tax {
	width:66px;
	height:20px;
	text-align: center;
}
.column-invoice-tax input {
	width:62px;
	height:20px;
	line-height:20px;
	border:none;
	padding:0px 2px;
}
.column-invoice-total span {
	float:left;
	width:560px;
	padding-left:10px;
	color:#333;
	margin-top: 52px
}
.column-invoice-total-je {
	float:left;
	width:145px;
	color:#333;
	margin-top: 52px
}
.column-invoice-total-je label {
	padding-right:5px;
}
.column-invoice-total-je input {
	height:22px;
	line-height:22px;
	border:none;
}
.column-invoice-tax {
}
.column-invoice-tax label {
	float:left;
	padding:0 10px;
	color: #31708F;
	
}
.column-invoice-tax span {
	float:left;
}
.column-invoice-taxd {
	width:500px;
}
.column-invoice-taxx {
	width:160px;
}
.column-invoice-taxd input {
	width:100%;
	height:22px;
	line-height:22px;
	border:none;
}

.column-invoice-taxx {
	width:160px;
}
.column-invoice-taxx input {
	width:100%;
	height:22px;
	line-height:22px;
	border:none;
}
.inscribe-ul {
	margin:0px auto;
	width:866px;
	overflow: hidden;
}
.inscribe-ul li {
	float:left;
	margin-top:18px;
}
.inscribe-ul li label {
	float:left;
	color: #31708F;
}
.inscribe-ul li span {
	float:left;
	width:174px;
}
.inscribe-ul li font {
	float:left;
	width:250px;
}
.inscribe-ul li strong {
	float:left;
	width:80px;
	text-align: right;
	font-weight: normal;
}
/*增加下拉控件基本样式*/
.tag_select_s a,.tag_select_s1 a {
	display:block;
	color:#179d60;
	width:92px; 
	height:28px;
	padding:0 0 0 8px; 
	line-height:28px; 
	font-size:12px; 
	cursor:pointer; 
	text-align:left;
} 
ul.tag_options_s,ul.tag_options_s1 {
	position:absolute; 
	list-style:none; 
	border:1px solid #e6e9eb; 
	border-top:none; 
	margin:-0px 0 0 -2px; 
	width:92px; 
	font-size:12px; 
	cursor:pointer; 
	z-index:10000; 
	background:#fafafa; 
	overflow-x:hidden; 
	max-height:320px; 
	_height:expression(this.scrollHeight > 320 ? "320px" : "auto"); 
	overflow-y:auto;
} 
ul.tag_options_s li,ul.tag_options_s1 li {
	background:#fff; 
	display:block; 
	width:92px; 
	padding:0 0px;
	height:28px; 
	line-height:25px; 
	color:#179d60;
	font-weight:normal; 
	font-size:12px; 
	margin:2px auto; 
	overflow:hidden; 
	text-align:left; 
	text-indent:5px; 
	margin:0!important;
} 
ul.tag_options_s li.open_hover,ul.tag_options_s1 li.open_hover {
	background:#01c675;
	color:#fff;
	font-weight:normal; 
	font-size:12px
} 
ul.tag_options_s li.open_selected,ul.tag_options_s1 li.open_selected {
	background:#e7e7e7; 
	font-size:12px;
	font-weight:bold;
}

/*下拉菜单扩展样式*/
.tag_select_s1 a,ul.tag_options_s1 li.open_hover,ul.tag_options_s1 li  {
	color:#868686;
}
.tag_select_s {
	width:72px;
	background-position:0px 0px;
	color:#179d60;
	padding:0px 20px 0px 0px;
	background: url(/images/ico2.jpg)  right  no-repeat;
}
ul.tag_options_s , ul.tag_options_s li { 
	width:94px;
}
.tag_select_s1 {
	width:148px;
	background-position:0px 0px;
	padding-left:5px;
	color:#868686;
	border:1px #f2f3f5 solid;
	background: url(/images/ico2.jpg)  right  no-repeat;
}
ul.tag_options_s1 , ul.tag_options_s1 li { 
	width:153px;
	margin:0px 0px 0px 0px;
}	


